.FiveDay {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.SingleDay {
  width: 15%;
  height: 75%;
  margin: 10px;
  background: linear-gradient(to bottom, #ffffff, #43e94c);
}

.DayName {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12%;
  text-align: center;
  border-bottom: 1px solid #2c3e50;
  padding: 2% 0;
}
.Name {
  margin: 0;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.Icon {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2c3e50;
}
.ForecastImg {
  /*make img fit inside Icon div*/
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.Temps {
  height: 36%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.MaxTemp {
  margin: 0;
  text-align: center;
  font-size: 2.2em;
}
.MinTemp {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}